* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  /* background: rgb(3, 0, 31); */
  background: #343541;
  color: rgb(211, 211, 211);
  font-family: 'Poppins', sans-serif;

}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  size-adjust: 100%;

}

.bilgiNotuApp{
  min-height: 100vh;
  display: flex;
  background: #0B141A;
 
  
}

.sideBar{
  /* flex:3; */
  width: 25vw;
  border-right: 1px solid rgb(100, 100, 100);
  background: #3f4e52;

}

/* Media query for mobile devices */
@media (max-width: 768px) {

  .bilgiNotuApp{
    width: 100vw;          /* Use full viewport width */
    height: 100vh;        /* Use full viewport height */
    margin: 0;  
    background: #0B141A;
    position: absolute;    /* Keep absolute positioning */
    left: 0;              /* Align to the left */
    top: 0;               /* Align to the top */
    overflow: hidden; 
  
  }

  .sideBar {
    display: none;        /* Hide the sidebar */
    visibility: hidden;   /* Make it inaccessible to screen readers */
    height: 0;           /* Remove height to prevent layout issues */
    width: 0;            /* Remove width to prevent layout issues */
    margin: 0;           /* Remove any margin */
    padding: 0;          /* Remove any padding */
    overflow: hidden;     /* Hide any overflow content */
  }

  .chats{
    width: 98vw;
   
  }



  
  
}


.main{
  width:100%;
}

.logo{
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 22rem;
}

.brand{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.upperSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid rgb(100, 100, 100);
  height: 70%;
  overflow-y: auto;
}

.upperSideTop{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 0.5rem;
}



 .upperSideBottom {
  display: flex;
  flex-direction: column;

  align-items: flex-start; /* Adjust alignment as needed */
  justify-content: space-between; /* Adjust spacing between columns */
  margin-bottom: 1rem;
}

.upperSideBottom > * {
  flex-basis: calc(50% - 0.5rem); /* Adjust width of each column */
  margin-bottom: 0.5rem; /* Adjust margin between elements */
}

.addBtn{
 height: 2rem;
 padding-right: 1rem;
}


.midBtn{
  background: #575572;
  border: none;
  color: rgb(211, 211, 211);
  padding: 1rem;
  width: 16rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  /* transition: transform 0.3s ease; */
}
.midBtn:hover {
  transform: scale(1.01);
  /* filter: brightness(1.2); */
  background: #00BED6;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgb(211, 211, 211);
  padding: 1rem;
  width: auto;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98,98,1);
  cursor: pointer; /* Add cursor pointer to indicate it's clickable */
  transition: background 0.3s ease;
}

.query:hover {
  background: #5757575e; /* Change background color on hover */
}

.query:active {
  background: #292929de; /* Change background color on click */
}

.query>img {
  margin-right: 1rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  padding: 1rem;
  height: 30%;
 
}

.lowerSideContent{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  width: auto;
  height: 25vh;
  padding: 1rem;

}

.lowerSideButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  
}

.lowerSideList {
  height: 20vh;
  font-size: 1.2rem;
  overflow: auto;

}

.listHeader {
  padding: 8px;
  background-color: #b4b4b4;
  color: rgb(70, 70, 70);
  font-size: 1.3rem;
  font-weight: bold;
  
}

.docsTable {
  width: 100%;
  border-collapse: collapse;
}

.docsTable th, .docsTable td {
  border: 1px solid rgb(139, 139, 139);
  padding: 8px;
  text-align: left;
}

.docsTable th {
  background-color: #bdbdbd;
  
}

.docsTable tbody tr {
  cursor: pointer;
  position: relative; /* Make the position relative to the row */
  
}

.docsTable tbody tr:hover {
  background-color: #555555; /* Change background color on hover */
}

.rowButtons {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.deleteButton {
  background: url('assets/deleteBtn.png') no-repeat center center;
  background-size: cover;
  border: none !important; /* Add !important to ensure the property is applied */
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  outline: none;
  border: none;
}



.deleteButton:hover::after {
  content: "Sil";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(170, 170, 170);
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bolder;
  color: rgb(255, 0, 0);
}

.docsTable tbody tr:hover .rowButtons {
  display: block; /* Show the buttons only when the row is hovered */
}


.docsTable tbody {
  max-height: 200px; /* Set the maximum height for the tbody */
  overflow-y: auto;
}

.docsTable tbody::-webkit-scrollbar {
  width: 10px;
}

.docsTable tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.docsTable tbody::-webkit-scrollbar-track {
  background-color: #b8b8b8;
}



.lowerSideList::-webkit-scrollbar {
  width: 10px;
}

.lowerSideList::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

.lowerSideList::-webkit-scrollbar-track {
  background-color: #b8b8b8;
}





.listItems{
  margin: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: filter 0.3s;
}

.listItems:hover {
  cursor: pointer;
  transform: scale(1.01);
  color: rgb(168, 214, 180);
}

.listItemsImg{
  margin: 0.5rem;
  padding-right: 0.5rem;
  height: 4rem;
}
.listItemsImg2{
  margin: 0.5rem;
  padding-right: 0.5rem;
  height: 3rem;
}

.listItems:nth-child(1)>.listItemsImg{
  margin-right: 0.2rem;
}

.listItems:nth-child(2)>.listItemsImg{
  margin-right: -1.5rem;
  width: 80px;
  width: 80px;
  transform: scale(0.4);
}

.listItems:nth-child(3)>.listItemsImg{
  margin-right: 0.75rem;
}




.main{
  width: auto;
  min-height: calc(100vh - 17rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  margin-bottom: 0rem;
}

.chats{
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: calc(100vh - 18rem);
  max-height: 60rem;
  position: relative;
  
}

/* Optional: Style the scrollbar */
.chats::-webkit-scrollbar {
  width: 10px;
}

.chats::-webkit-scrollbar-thumb {
  background-color: #888;
}

.chats::-webkit-scrollbar-track {
  background-color: #eee;
}


.chat {
  margin: 1rem;
  padding: 2rem 2rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  display: flex;
  align-items: flex-start;
  text-align: justify;
  color: #ccc;
  background-color: #005C4B;
  border-radius: 0.5rem;
   /* Limit width for chat bubbles */
  word-wrap: break-word; /* Break long words for small screens */
}


.bot{
  width: auto;
  border-radius: 0.5rem;
  background-color: #202C33;
  justify-content: flex-start; 
  max-width: 70%; 
  min-width: 50%;
}

.user {
  margin-left: auto; /* Push user messages to the right */
  background-color: #00796b; /* Optional: Different color for user messages */
  max-width: 40%;
  min-width: 30%;
}




.chat>img{
  object-fit: cover;
  width: 4rem;
  margin-right: 2rem;
  border-radius: 3rem;
}

.txtHead{
  font-weight:bold;
  font-size: 1.5rem;
  /* margin-top: 1rem; */
  margin-bottom: 0.5rem;
}

.chatFooter{
  width: 100vw;
  max-width: 90rem;
 
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 1.2rem;
}

.inp {
  width: 99vw;
  max-width: 90rem;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(98, 98, 98, 1);
  border-radius: 1.5rem;
  box-sizing: border-box;
  height: auto;

 
}

.multiline-input {
  width: 95%;
  max-width: 99%;
  background: none;
  color: #ccc;
  font-size: 1.5rem;
  resize: none;
  border: none;
  outline: none;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 0.5rem;
  min-height: 4rem;
  max-height: 150px;
  height: 100%; /* Set height to 100% */
  box-sizing: border-box; /* Add box-sizing property */
}

.inp textarea {
  height: calc(100% - 1.5rem); /* Adjust the padding value as needed */
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
  resize: none;
}

.inp textarea::-webkit-scrollbar {
  width: 10px;
}

.inp textarea::-webkit-scrollbar-thumb {
  background-color: #888;
}

.inp textarea::-webkit-scrollbar-track {
  background-color: rgb(77, 77, 77);
}

.inp>input{
  outline: none;
  width: calc(100% - 3rem);
  padding: 1.25rem;
  color: rgb(48, 48, 48);
  font-size: 1.5rem;
}

.inp>input, .send{
  transform: scale(1.4);
  background: transparent;
  border: none;
  transition: filter 0.3s;
}

.send:hover {
  cursor: pointer;
  filter: brightness(1.2); 
}

.inp>input, .sendMic{
  transform: scale(1.2);
  background: transparent;
  border: none;
  transition: filter 0.3s;
}

.sendMic:hover {
  cursor: pointer;
  filter: brightness(1.2); 
  
}

.blink{
  background: rgba(238, 238, 238, 0);
  animation: blink 2.3s infinite;
}

.blink:hover{
  cursor: pointer;
  filter: brightness(0.5); 
  
}

@keyframes blink{
  0% {
    background: rgb(255, 0, 0);
  }
  60% {
    background: rgba(238, 238, 238, 0);
  }
  100% {
    background:rgb(255, 0, 0);
  }
 }

 


.sendMessage{
  transform: scale(1.2);
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  margin-left: 2rem;
}


.chatFooter>p{
  margin: 2rem 0;
  color: #4CAF50;
}

.multiline-input::-webkit-scrollbar {
  width: 10px;
}

.multiline-input::-webkit-scrollbar-thumb {
  background-color: #888;
}

.multiline-input::-webkit-scrollbar-track {
  background-color: #eee;
}



.loading-container {
  transform: scale(1);
  margin-top: -1rem;
  padding-right: 1rem;
  position: relative;
  display: flex;
  justify-content: right;
  width: 40px;
  height: 40px;
}


/* doc loading */

.loaderForDoc {
  width: 200px;
  height: 140px;
  background: #979794;
  box-sizing: border-box;
  position: relative;
  border-radius:8px;
  perspective: 1000px;
  margin-top: 1.5rem;
  margin-left: 13.5rem;
}

.loaderForDoc:before{
  content: '';
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border-radius:8px;
  background: #f5f5f5  no-repeat;
  background-size: 60px 10px;
  background-image:   linear-gradient(#ddd 100px, transparent 0) ,
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
  
  background-position: 15px 30px , 15px 60px , 15px 90px, 
            105px 30px , 105px 60px , 105px 90px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.loaderForDoc:after {
  content: '';
    position: absolute;
    width: calc(50% - 10px);
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius: 8px;
    background: #fff no-repeat;
    background-size: 60px 10px;
    background-image: linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0), 
            linear-gradient(#ddd 100px, transparent 0);
    background-position: 50% 30px ,50% 60px , 50%  90px;
    transform: rotateY(0deg );
    transform-origin: left center;
  animation: paging 1s linear infinite;
}


@keyframes paging {
  to {
    transform: rotateY( -180deg );
  }
}


/* file upload */
/* Styles for FileUpload component */
.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
}

.file-upload-label {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.file-input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.upload-button {
  background-color: #4CAF50;
  color: rgb(66, 66, 66);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  width: 15rem;
}

.upload-button:hover {
  background-color: #48dd4d;
  
 
}


.lowerContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  border-top: 1px solid rgb(100, 100, 100);
  background: linear-gradient(to bottom right, rgba(0, 247, 255, 0.747), #0B141A);
}

.radioContainer {
  display: flex;
  margin-top: 1rem;
  justify-content: space-around;
  

}

.tabLabel {
  width: fit-content;
  margin-left: 4px;
  margin-right: 4px;
  background:none;
  padding: 4px 4px;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid transparent;
 
}

.tabLabelActive {
  background: linear-gradient(to bottom right, rgb(1, 160, 165), rgb(0, 175, 108));
  filter:brightness(1.2)
  
}

.tabLabel:hover {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2));
}


.loaderMessage {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  margin-top: -1.2rem;
  margin-left: -1.5rem;
}
  .loaderMessage:before,
  .loaderMessage:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loaderMessage:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .4em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .4em .4em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .4em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.4em .4em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.4em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.4em -.4em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.4em 0 0 currentcolor;
  }
  87% {
    box-shadow: .4em -.4em 0 0 currentcolor;
  }
}



.loader {
  position: relative;
  width:  88px;
  height: 88px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
  
  /* transform: perspective(200px) rotateX(65deg) rotate(45deg);  */
  color: #fff;
  animation: layers1 1s linear infinite alternate;
  margin-top: 8rem;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% { box-shadow: 0px 0px 0 0px  }
 90% , 100% { box-shadow: 20px 20px 0 -4px  }
}
@keyframes layerTr {
  0% { transform:  translate(0, 0) scale(1) }
  100% {  transform: translate(-25px, -25px) scale(1) }
}
    

